<div class="container-scroller">
  <!-- partial:partials/_navbar.html -->

<app-navbar></app-navbar>
<div> <p>- </p></div>
<div> <p>- </p></div>




  <!-- partial -->
<div class="container-fluid page-body-wrapper">
<app-sidebar></app-sidebar>


      <h4 style="padding: 2rem;">Ajouter un Sujet</h4>
      <th></th>

  

      <form #sujetForm="ngForm" (ngSubmit)="add(sujetForm)" >
        <div class="form-group" style="position: relative; padding-top: 2cm;">
          <label for="sujetname">Titre Sujet  :</label>
          <input type="text" #sujetname (ngModel)="sujetname" name="sujetname" id="sujetname" class="form-control">
        </div>
        <div class="form-group">
          <label for="address">Description Sujet :</label>
          <input type="text" #sujetDescription (ngModel)="sujetDescription" name="sujetDescription" id="sujetDescription" class="form-control">
        </div>
        <div class="form-group">
          <label for="technologies">Technologies :</label><tr></tr>
          <p-multiSelect [options]="allTechnologies" #technologies (ngModel)="technologies" optionLabel="name" [style]="{'width':'100%'}"></p-multiSelect>
        </div>
        <!--<div class="form-group">
          <label for="collaborateurs">Collaborateurs :</label><tr></tr>
          <p-multiSelect [options]="allStages" #stages (ngModel)="stages" optionLabel="name" ></p-multiSelect>
        </div>-->

        <div class="form-group">
          <input type="submit" value="Ajouter" class="btn btn-block btn-lg btn-gradient-primary mt-4">
        </div>

      </form>




  </div>
</div>

  
  