
    <div class="card mt-5" style="align-items: center;">
      <h1>Ajouter un Sujet</h1>
    </div>
  
    <div class="card mt-5" style="padding: 20px;">
      <form #sujetForm="ngForm" (ngSubmit)="add(sujetForm)" >
        <div class="form-group">
          <label for="sujetname">Titre Sujet  :</label>
          <input type="text" #sujetname (ngModel)="sujetname" name="sujetname" id="sujetname" class="form-control">
        </div>
        <div class="form-group">
          <label for="address">Description Sujet :</label>
          <input type="text" #sujetDescription (ngModel)="sujetDescription" name="sujetDescription" id="sujetDescription" class="form-control">
        </div>
        <div class="form-group">
          <label for="percentage">Technologies :</label>
          <input type="text" #technologies (ngModel)="technologies" name="technologies" id="technologies" class="form-control">
        </div>

        <div class="form-group">
          <input type="submit" value="Ajouter" class="btn btn-primary w-100">
        </div>
      </form>

    </div>


  
  